<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>@ViewData["Title"] TimerWeb</title>

    @* <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" /> *@
    <link rel="stylesheet" href="~/lib/bootstrapv5/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/test.css" />

</head>

<body>

    <header id="Navbar" class="row h-20">

        <nav  class="navbar border-bottoms">

            <div  class="container  ">  
 
                <div class="navbar-brand col-12 col-sm-12 col-md-6 p-0 m-0 " >
                    <h1>
                        TomatoTimer
                    </h1>
                </div>
  
                <div class="bg-dark col-12 col-sm-12 col-md-6 ">
                    
                    <ul class="nav col">
                        
                        <li class="nav-item col-12 col-sm-12 col-md-2 col-lg-2">
                            <a href="/counter" class=" nav-link"> Log </a>
                        </li>

                        <li class="nav-item col-12 col-sm-12 col-md-2">
                            <a class="nav-link"> FAQ </a>
                        </li>

                        <li class="nav-item col-12 col-sm-12 col-md-3">
                            <a class="nav-link"> Settings </a>
                        </li>

                        <li class="nav-item col-12 col-sm-12 col-md-5 col-lg">
                            <a class="nav-link"> Tweet about us! </a>
                        </li>
                        
                    </ul>
                    
                </div> 
                
            </div>

        </nav> 
    </header>  

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()  
        </main> 
    </div>  
 
    <script src="~/lib/bootstrapv5/bootstrap.bundle.min.js">
    </script> 
  
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html> 
