/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

* {
    /* border: 1px dashed red; */
}

html{
    border: 0;
    margin: 0;
    box-sizing: border-box;
    height: 100vh;
}

.bol{
    border: 1px dashed red;
}


a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

/* Provide sufficient contrast against white background */

h1 {
    font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
    line-height: 1.1;
    font-size: 2.313rem;
    font-weight: bold;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}

@media (max-width: 770px) {

    html {
        font-size: 16px;
    }

    body {
        background-color: yellow; 
    }

    #ActionsPomodoro {
        display: flex;
        flex-direction: row;
        width: 100% !important;
    }
    
    #buttonAction  > button {

        width: max-content;

    }
    
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

/* Nav styles
-------------------------------------------------- */
#Navbar {
    background-color: #f2f2f2 !important;
    margin-bottom: 1.4rem;
    min-height: 7.5rem;
}
 
body {
    /* Margin bottom by footer height */
    font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
    margin-bottom: 60px;
}

div.bg-dark {
    background-color:#4d4d4d !important;
    text-align: center;
    font-size: 0.875rem;
    font-weight: 250;
}

a.nav-link {
    color: #e6e6e6 !important;
}

div.bg-dark ul > li > a {
    list-style: none;
    /* padding: 0.6rem 1.25rem; */
}

div.bg-dark ul > li  > a:hover {
    cursor: pointer;
    background-color: #333333;
}

div.bg-dark ul > li:not(:last-child) {
    border-right: 1px inset #333333;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */
}

/* Buttons / Botones */

div#OptionsPomodoro > div.col > button {
    text-align: center;
    color: white;
    border:1px solid #1e728c;
    font-size: 0.875rem;
    padding: 0.406rem 0;
    margin: 0;
    width: inherit;
    height: inherit;
    background-color: #2aa6ca;
    box-shadow: 0 1px 0 rgb(255 255 255 / 50%) inset;
}

div#OptionsPomodoro > div.col > button:hover {

    background-color: #2284a1;
    transition: background-color 0.2s  ease-in;
}

div#OptionsPomodoro > div.col > button:focus-within{
    background-color: #2284a1 !important;
}

.col {
    margin: 0;
    padding: 0;
}

#OptionsPomodoro {

    /* width: 200px; */
    max-width: 50rem;
    margin: 0 auto;

}

#counter {

    font-weight: bold;
    font-size: 100px;
    display: block;
    text-align: center;
    /* margin: 0 50px; */
}

#ActionsPomodoro {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 65%;
    text-align: center;
    align-self: center;
    margin: 0 auto;
}

#buttonAction  > button {
    border-radius: 3px; 
    color: white;
    font-weight: bold;
    height: 50px;
    width: 100px;
}